#{extends 'main.html' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
#{/set}

<div class="container">

<script id="createAccount" type="text/html">
	<form method="POST" id="createAccountForm" action="@{Admin.createAccount()}">
	  <div class="form-group">
	    <label for="username">&{'user-mgmt.username'}</label>
	    <input onchange="validateUsername();"  class="form-control"  type="text" id="username" name="username" placeholder="&{'user-mgmt.username'}"/>
		<span id="badUsername" style="display: none;" class="alert-block alert-danger"><strong>&{'user-mgmt-username-already-in-use'}</strong></span>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="email">&{'user-mgmt.email'}</label>
	    <input class="form-control" onchange="validateCreateUser();" type="text" id="email" name="email" placeholder="&{'user-mgmt.email'}">
		<span id="badEmail" style="display: none;" class="alert-block alert-danger"><strong>&{'user-mgmt-invalid-email'}</strong></span>
	    
	  </div>
	  <div class="form-group">
	    <label for="password">&{'user-mgmt.password'}</label>
	    <input onchange="validateCreateUser();"  class="form-control" type="password" id="password" name="password" placeholder="&{'user-mgmt.password'}"/>
	    
	  </div>
	  <div class="form-group">
	    <label for="passwordRetry">&{'user-mgmt.password-again'}</label>
	    <input onchange="validateCreateUser();" class="form-control"  type="password" id="passwordRetry" name="passwordRetry" placeholder="&{'user-mgmt.password-again'}"/>
		<span id="badPassword" style="display: none;" class="alert-block alert-danger"><strong>&{'user-mgmt.passwords-dont-match'}</strong></span>
	  </div>
	  
	  <div class="form-group">
			<label class="control-label" for="inputAgency">&{'user-mgmt.agency'}</label>
	     
	        <select  class="form-control" name="agencyId" id="agencyId">
				#{list items:agencies, as:'agency'}
				<option value="${agency.id}">${agency.name}</option>
				#{/list}
			</select>
	    </div>
	  </div>

	  <div class="checkbox">
	   	<label >
	        <input type="checkbox" name="admin" id="admin"> &{'user-mgmt.agency-admin'}
	    </label> 
	  </div>

	</form>
</script>

<script id="editAccount" type="text/html">
	<form method="POST" id="editAccountForm" action="@{Admin.updateAccount()}">
	  <div class="form-group">
	    <label for="username">&{'user-mgmt.username'}</label>
	    <input type="hidden" id="username" name="username" value="{{ username }}"/>:
		<strong>{{ username }}</strong>
	  </div>
	  <div class="form-group">
	    <label for="email">&{'user-mgmt.email'}</label>
	    <input class="form-control" onchange="validateCreateUser();" type="text" id="email" name="email" placeholder="&{'user-mgmt.email'}" value="{{ email }}">
		<span id="badEmail" style="display: none;" class="alert-block alert-danger"><strong>Invalid email address.</strong></span>
	    
	  </div>
	  <div class="form-group">
	    <label for="password">&{'user-mgmt.password'}</label>
	    <input onchange="validateCreateUser();"  class="form-control" type="password" id="password" name="password" placeholder="&{'user-mgmt.password'}"/>
	    
	  </div>
	  <div class="form-group">
	    <label for="passwordRetry">&{'user-mgmt.password-again'}</label>
	    <input onchange="validateCreateUser();" class="form-control"  type="password" id="passwordRetry" name="passwordRetry" placeholder="&{'user-mgmt.password-again'}"/>
		<span id="badPassword" style="display: none;" class="alert-block alert-danger"><strong>&{'user-mgmt.passwords-dont-match'}</strong></span>
	  </div>
	
	  {{#if admin}}
	  	  <label>&{'user-mgmt.admin-access'}</label>
	  	  <input type="hidden" name="admin" value="true"/>
	  	  <input type="hidden" name="active" value="true"/>
	  {{ else }}

	  	  <div class="form-group">
				<label class="control-label" for="inputAgency">&{'user-mgmt.agency'}</label>
		        <select class="form-control" name="agencyId" id="agencyId">
					#{list items:agencies, as:'agency'}
						<option value="${agency.id}" {{#ifeq agency.id '${agency.id}'}} selected="selected"{{/ifeq}}>${agency.name}</option>
					#{/list}
					
				</select>
		      </label>
		    </div>
		  </div>


		  <div class="checkbox">
		   	<label >
		        <input type="checkbox" name="admin" id="admin" {{#if agencyAdmin}}checked{{/if}}> &{'user-mgmt.agency-admin'}
		    </label> 
		  </div>

		  <div class="checkbox">
		   	<label >
		        <input type="checkbox" name="active" id="active" {{#if active}}checked{{/if}}> &{'user-mgmt.active'}
		      </label> 
		  </div>

	  {{/if}}	  

	</form>
</script>

<script id="resetPassword" type="text/html">
	<form method="POST" id="resetPasswordForm" action="@{Admin.changePassword()}" class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="username">Username</label>
	    <div class="controls">
	      <input type="hidden" id="username" name="username" value="{{ username }}"/>
		  <strong>{{ username }}</strong>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="password">Password</label>
	    <div class="controls">
	      <input onchange="validateCreateUser();" type="password" id="password" name="password" placeholder="Password"/>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="passwordRetry">Password (again)</label>
	    <div class="controls">
	      <input onchange="validateCreateUser();" type="password" id="passwordRetry" name="passwordRetry" placeholder="Password (again)"/>
		  <span id="badPassword" style="color: red; display: none;" class="help-block"><strong>Passwords dont match.</strong></span>
	    </div>
	  </div>
	</form>
</script>


<div class="container">

	<h3>&{'user-mgmt.account-management'}</h3>
	
	<p><a href="#createAccountModal" onclick="createAccount();">&{'user-mgmt.create-account'}</a></p>
	
	<table class="table">
	 
	 <tr><th>&{'user-mgmt.username'}</th><th>&{'user-mgmt.email'}</th><th>&{'user-mgmt.last-login'}</th><th>&{'user-mgmt.agency'}</th><th>&{'user-mgmt.agency-admin'}</th><th>&{'user-mgmt.active'}</th><th></th></tr>
	 
	 #{list items:accounts, as:'account'}
	 	<tr><td>${account.username}</td><td>${account.email}</td>
	 		<td>#{if account.lastLogin}${account.lastLogin.format('yyyy-MM-dd hh:mm')}#{/if}#{else}--#{/else}</td>
	 		<td>#{if account.agency}${account.agency.gtfsAgencyId}#{/if}</td>	 	
	 		<td>#{if account.agencyAdmin}<span class="glyphicon glyphicon-ok-sign"></span>#{/if}#{else}--#{/else}</td>
	 		<td>#{if account.active}<span class="glyphicon glyphicon-ok-sign"></span>#{/if}</td>
	 		<td><a href="#editAccountModal" onclick="editAccount('${account.username}');">&{'shared.button.edit'}</a></td>
	 	</tr>
	 #{/list }
	 
	</table>

	<div  class="modal fade" id="createAccountModal">
	 <div class="modal-dialog">
	   <div class="modal-content">
	 	  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="accountModalLabel">&{'user-mgmt.create-account'}</h3>
		  </div>
		  <div class="modal-body">
		    <p></p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">&{'shared.button.close'}</button>
		    <button id="createAccountButton" class="btn btn-primary disabled">&{'shared.button.save'}</button>
		  </div>
	   </div>
	 </div>
	</div>

	<div class="modal fade" id="editAccountModal" >
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3 id="accountModalLabel">Edit Account</h3>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button class="btn" data-dismiss="modal" aria-hidden="true">&{'shared.button.close'}</button>
	    	<button id="editAccountButton" class="btn btn-primary">&{'shared.button.save'}</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="resetPasswordModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="accountModalLabel">Reset Password</h3>
			  </div>
			  <div class="modal-body">
			    <p></p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button id="resetPasswordButton"  class="btn btn-primary disabled">Save</button>
			  </div>
			</div>
		</div>
	</div>

</div>


	#{script "lib/handlebars.js"/}

<script>

	var validUsername = false;
	var validCreateAccount = false;
	var validEditAccount = false;


	Handlebars.registerHelper('ifeq', function (a, b, options) {
      if (a == b) { return options.fn(this); }
    });

	var createAccountTemplate = Handlebars.compile($("#createAccount").html());
	var editAccountTemplate = Handlebars.compile($("#editAccount").html());
	var resetPasswordTemplate = Handlebars.compile($("#resetPassword").html());

	function createAccount()
	{


		var html = createAccountTemplate();
		
		$('#createAccountButton').addClass("disabled");
		
		$('#createAccountModal .modal-body').html(html);
		
		$('#createAccountButton').on('click', function () {
			
			validateCreateUser();
			
			if(validCreateAccount)
			{
				$('#createAccountForm').submit();
			}
		});
		
		$('#createAccountModal').on('hidden', function () {
			$('#createAccountModal > .modal-body').html('');
		});
		
		$('#createAccountModal').modal();
	}


	function editAccount(username)
	{
		$.ajax("@{Admin.getAccount}", {data: {username: username}, 
			 statusCode: {
				  
				    200: function(data) {
				    	var html = editAccountTemplate(data);
				    	
				    	$('#editAccountModal .modal-body').html(html);
				    	
				    	$('#editAccountButton').on('click', function () {
				    		
				    		validateEditUser();
				    		
				    		if(validEditAccount)
				    		{
				    			$('#editAccountForm').submit();
				    		}
				    	});
				    	
				    	$('#editAccountModal').on('hidden', function () {
				    		$('#editAccountModal .modal-body').html('');
				    	});
				    	
				    	$('#editAccountModal').modal();
				    	
					    }
				  }
		
		});
		
	}

	function resetPassword(username)
	{
		$.ajax("@{Admin.getAccount}", {data: {username: username}, 
			 statusCode: {
				  
				    200: function(data) {
				    	var html = resetPasswordTemplate(data);
				    	
				    	$('#resetPasswordButton').addClass("disabled");
				    	
				    	$('#resetPasswordModal > .modal-body').html(html);
				    	
				    	$('#resetPasswordButton').on('click', function () {
				    		
				    		validateEditUser();
				    		
				    		if(validEditAccount)
				    		{
				    			$('#editAccountForm').submit();
				    		}
				    	});
				    	
				    	$('#resetPasswordModal').on('hidden', function () {
				    		$('#resetPasswordModal > .modal-body').html('');
				    	});
				    	
				    	$('#resetPasswordModal').modal();
				    	
					    }
				  }
		
		});
		
	}

	function validateEditUser()
	{
		var validData = true;
		
		// check email
		if($('#email').val() != '')
		{
			if(isValidEmailAddress($('#email').val()))
			{
				$('#badEmail').hide();
			}
			else
			{
				$('#badEmail').show();
				validData = false;
			}
		}

		else
		{
			$('#badEmail').hide();
			validData = false;
		}

		if($('#password').val() != '' && $('#passwordRetry').val() != '')
		{
			if($('#password').val() != $('#passwordRetry').val())
			{
				$('#badPassword').show();
				validData = false;
			}
			else
				$('#badPassword').hide();
		}
		else
		{
			if($('#password').val() == '' && $('#passwordRetry').val() == '') {
				$('#badPassword').hide();	
			} 
			else {
				$('#badPassword').show();
				validData = false;
			}
		}	
		
		validEditAccount = validData;
	}


	function validateCreateUser()
	{
		var validData = true;
		
		// check username
		validData = validUsername;
		
		// check email
		if($('#email').val() != '')
		{
			if(isValidEmailAddress($('#email').val()))
			{
				$('#badEmail').hide();
			}
			else
			{
				$('#badEmail').show();
				validData = false;
			}
		}
		else
		{
			$('#badEmail').hide();
			validData = false;
		}	
		
		if($('#password').val() != '' && $('#passwordRetry').val() != '')
		{
			if($('#password').val() != $('#passwordRetry').val())
			{
				$('#badPassword').show();
				validData = false;
			}
			else
				$('#badPassword').hide();
		}
		else
		{
			$('#badPassword').hide();
			validData = false;
		}	
		
		if(validData)
		{
			$('#createAccountButton').removeClass("disabled");
		}
		else
		{
			$('#createAccountButton').addClass("disabled");
		}
		
		validCreateAccount = validData;
	}

	function validateResetPassword()
	{
		var validData = true;
		
		if($('#password').val() != '' && $('#passwordRetry').val() != '')
		{
			if($('#password').val() != $('#passwordRetry').val())
			{
				$('#badPassword').show();
				validData = false;
			}
			else
				$('#badPassword').hide();
		}
		else
		{
			$('#badPassword').hide();
			validData = false;
		}	
		
		if(validData)
		{
			$('#createAccountButton').removeClass("disabled");
		}
		else
		{
			$('#createAccountButton').addClass("disabled");
		}
		
		validCreateAccount = validData;
	}

	function validateUsername()
	{	
		validUsername = false;
		var username = $('#username').val();
		$.ajax("@{Admin.checkUsername}", {data: {username: username}, 
			 statusCode: {
				    400: function() {
				    	validUsername = false;
				    	$('#badUsername').show();
				    	validateCreateUser()
				    },
				    200: function() {
				    	validUsername = true;
				    	$('#badUsername').hide();
				    	validateCreateUser()
					    }
				  }
		
		});
		
	}

	function isValidEmailAddress(emailAddress) {
	    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
	    return pattern.test(emailAddress);
	};

</script>