#{extends 'main.html' /}
#{set title:'Home' /}


<script id="selectedEntitiesTemplate" type="text/x-handlebars-template">

	{{#each entities}}
		<div class="alert alert-success">
			<span class="glyphicon glyphicon-remove-circle pull-right" style="font-size: 24px;" id="removeEntity" data-position="{{pos}}"></span>

			{{#if stopId}}
				<strong>&{'shared.stop'}:</strong> {{ description }} ({{ stopId }})
			{{/if}}

			{{#if routeId}}
				<strong>&{'shared.route'}:</strong> {{ description }} ({{ routeId }})
			{{/if}}

		</div>
		{{else}}
		
			<div class="alert alert-info">&{'create.no-routes-stops'}</div>
	{{/each}}

</script>


<script id="affectedTimesTemplate" type="text/x-handlebars-template">

		{{#each ranges}}
				<div class="row" id="timeRange" data-position="{{pos}}">
			     	<div class="col-xs-5">
					  <div class="form-group">
					  	  <label for="dtFrom">&{'create.from'}</label>
						  <div class="input-group date" id="dtFrom_{{pos}}" data-position="{{pos}}" data-fromto="from">
					        <input type="text" class="form-control"/>
					        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					      </div>
					  </div>
					 </div>
					 <div class="col-xs-5">
					  <div class="form-group">
					  	  <label for="dtTo">&{'create.to'}</label>
					      <div class="input-group date" id="dtTo_{{pos}}" data-position="{{pos}}" data-fromto="to">
					        <input type="text" class="form-control"/>
					        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					      </div>
					  </div>
					</div>
					<div class="col-xs-1">
						<span class="glyphicon glyphicon-remove-circle pull-right" style="font-size: 24px; padding-top: 24px;" id="removeRange" data-position="{{pos}}"></span>
					</div>
			  </div>
		{{/each}}

		<div class="row">
	  		<div class="col-xs-6">
				<button class="btn btn-default" id="addRange">&{'create.add-range'}</button>
			</div>
	   </div>

</script>

<script id="alertFromTemplate" type="text/x-handlebars-template">

			<div id="save-warning" class="alert alert-danger text-center">
				<p>&{'create.save-failed'}</p>
			</div>

			<div class="row">
			     	<div class="col-xs-12" >
						<h3>&{'create-alert.title'}</h3>
					</div>
			</div

			<hr/>

			<div class="form-group pull-right">
			    <label>
			    	<input type="checkbox" id="publiclyVisible" #{if !admin}disabled#{/if}> &{'create.publicly-visible'} <span class="glyphicon glyphicon-eye-open"></span>
			    </label>
			 </div>
			
			<h4>&{'create.general-info'}</h4>
			
				<hr/>
				<p><strong>&{'create.created-at'}</strong> <span id="createdTime"></span> <strong>&{'create.updated-at'}</strong> <span id="lastUpdatedTime"></span></p>
				

			  <div class="form-group">
			    <label for="title">&{'create.title'}</label>
			    <input type="text" class="form-control" name="title" id="title" placeholder="&{'create.title'}">
			  </div>
			  <div class="form-group">
			    <label for="description">&{'create.description'}</label>
			    <textarea type="text" class="form-control" name="description" id="description" placeholder="&{'create.description'}"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="comments">&{'create.comments'}</label>
			    <textarea type="text" class="form-control" name="comments" id="comments" placeholder="&{'create.comments'}"></textarea>
			  </div>
			  <div class="row">
			     	<div class="col-xs-6">
					  <div class="form-group">
					    <label for="description">&{'create.cause'}</label>
					    <select class="form-control" id="cause" name="cause">
					    	<option value="NONE" selected>&{'select.none'}</option>
						    <option value="TECHNICAL_PROBLEM">&{'select.technical-problem'}</option>
						    <option value="STRIKE">&{'select.strike'}</option>
						    <option value="DEMONSTRATION">&{'select.demonstration'}</option>
						    <option value="ACCIDENT">&{'select.accident'}</option>
						    <option value="HOLIDAY">&{'select.holiday'}</option>
						    <option value="WEATHER">&{'select.weather'}</option>
						    <option value="MAINTENANCE">&{'select.maintenance'}</option>
						    <option value="CONSTRUCTION">&{'select.construction'}</option>
						    <option value="POLICE_ACTIVITY">&{'select.police-activity'}</option>
						    <option value="MEDICAL_EMERGENCY">&{'select.medical-emergency'}</option>
						    <option value="UNKNOWN_CAUSE">&{'select.unknown-cause'}</option>
						    <option value="OTHER_CAUSE">&{'select.other-cause'}</option>
					    </select>
					  </div>
					</div>
					<div class="col-xs-6">
					  <div class="form-group">
					     <label for="effect">&{'create.effect'}</label>
					     <select class="form-control" id="effect" name="effect">
						    <option value="NONE" selected>&{'select.none'}</option>
						    <option value="NO_SERVICE">&{'select.no-service'}</option>
						    <option value="REDUCED_SERVICE">&{'select.reduced-service'}</option>
						    <option value="SIGNIFICANT_DELAYS">&{'select.significant-delays'}</option>
						    <option value="DETOUR">&{'select.detour'}</option>
						    <option value="ADDITIONAL_SERVICE">&{'select.additional-service'}</option>
						    <option value="MODIFIED_SERVICE">&{'select.modified-service'}</option>
						    <option value="STOP_MOVED">&{'select.stop-moved'}</option>
						    <option value="OTHER_EFFECT">&{'select.other-effect'}</option>
						    <option value="UNKNOWN_EFFECT">&{'select.unknown-effect'}</option>
					     </select>
					  </div>
					</div>
				</div>


			<hr/>
			<h4>&{'create.times'}</h4>

			<div id="affected-times">
		  	</div>

			<hr/>
			<h4>&{'create.entities'}</h4>

			  <div id="selected-entities">

			  </div>

			  <div class="form-group">
			     <label for="route">&{'shared.route'}</label>
			     <div class="row">
			     	<div class="col-xs-6">
				     	<select class="form-control" id="route" name="rotue">
					    	<option value="">&{'shared.loading'}...</option>
				     	</select>
				    </div>
				    <div class="col-xs-2">
				     	<button id="addRoute" class="btn btn-default">&{'create.add-route'}</button>
				    </div>
				</div>

			  </div>

			  <div class="form-group">
			     <label for="stop">&{'shared.stop'}</label>
			     <div class="row">
			     	<div class="col-xs-6">
				     	<select class="form-control" id="stop" name="effect">
					    	<option value="">&{'shared.loading'}...</option>
				     	</select>
				 	</div>
				 	<div class="col-xs-2">
				     	<button id="addStop" class="btn btn-default">&{'create.add-stop'}</button>
				    </div>
				 </div>
			  </div>

			  <div class="row" id="mapRow">
			  	<div class="col-xs-12">
			  	 	<div id="entitiesMap" style="height: 350px; margin-bottom: 10px;"></div>
			  	</div>
			  </div>



			  <div class="row">
			  		<div class="col-xs-6">
						<button class="btn btn-default" id="showMap"><span class="glyphicon glyphicon-globe"></span> &{'create.show-map'} <span class="glyphicon glyphicon-chevron-down"></span></button>
						<button class="btn btn-default" id="hideMap"><span class="glyphicon glyphicon-globe"></span> &{'create.hide-map'} <span class="glyphicon glyphicon-chevron-up"></span></button>
					</div>
			   </div>

			<hr/>		 

			<div class="row">
				     	<div class="col-xs-4">
							<a href="@{Application.index}" class="btn btn-default col-xs-12">&laquo; &{'shared.button.close'}</a>
						</div>
						<div class="col-xs-4">
							
						</div>
						<div class="col-xs-4">
							<button class="btn btn-primary col-xs-12" id="saveAlert" disabled>&{'shared.button.save'}</button>
						</div>
			</div>
		 



		 	<hr/>		  


</script>

<div class="container">
	<div class="row">
		<div class="col-xs-12">



			<div id="alertFrom"></div>
			
		</div>
	</div>
</div>

<script>

$( document ).ready(function() {

	var model = new GtfsRtEditor.Alert(#{if id}{id: ${id}}#{/if});		

	var view = new GtfsRtEditor.AlertEditorView({
		model: model,
		el: $('#alertFrom')
	});
});

</script>