#{extends 'main.html' /}


<script>

$( document ).ready(function() {
	
	$('#passwordMatchError').hide();
});

function changePassword()
{
	if($('#newPasswordRetry').val() != $('#newPassword').val())	
		$('#passwordMatchError').show();
	else
		$('#passwordForm').submit();
}

</script>


<div class="container">
 <div class="row">
   
   <div class="col-xs-12">
		<h3>&{'secure.change-password'}</h3>
		<p>Enter current and new passwords.</p>	
			
		<form method="POST" action="@{Application.changePassword()}" id="passwordForm">
		
			<div class="form-group">
			    <label for="currentPassword">Current Password</label>
			    <input type="password" class="form-control" name="currentPassword" id="currentPassword" value="" />
				#{if badPassword}<div class="alert alert-danger"><strong>Incorrect password</strong></div>#{/if}
			</div>
		
			<div class="form-group">
			    <label for="newPassword">New Password</label>
				<input type="password" class="form-control" name="newPassword" id="newPassword" value="" />
			</div>
		
			<div class="form-group">
			    <label for="newPasswordRetry">New Password (again)</label>
				<input type="password" class="form-control"  name="newPasswordRetry" id="newPasswordRetry" value="" />
				<div id="passwordMatchError" class="alert alert-danger"><strong>Passwords don't match.</strong></div>
			</div>
			
			<div class="form-group">
				<a class="btn btn-primary" onclick="changePassword();">Change</a>	
			</div>
			
			
		</form>
		</div>
	</div>
</div>

