#{extends 'main.html' /}
#{set title:'Home' /}

<script id="alertMapPopupTemplate" type="text/x-handlebars-template">	
		<h4>{{ agencyId }}: {{#if headerText}}{{headerText}}{{else}}&{'main.no-title'}{{/if}} {{#if publiclyVisible}}<span class="glyphicon glyphicon-eye-open"></span>{{/if}}</h4>
		<p>{{#if descriptionText}}{{descriptionText}}{{else}}&{'main.no-description'}{{/if}}</p>
		<p><strong>&{'main.entities'}</strong> {{#each informedEntities}}{{ description }}, {{/each}}</p>
		<p><strong>&{'create.times'}</strong> 
			<ul>
				{{#each timeRanges}}
					<li>{{timefmt startTime }} - {{timefmt endTime }} </li>
				{{/each}}
			</ul>
		</p>
</script>


<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<a type="button" class="btn btn-default col-xs-12" id="refreshData"><span class="glyphicon glyphicon-refresh"></span> &{'shared.button.update'}</a>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-12">

			<h3>&{'main.active-alerts'}</h3>
			
			<div style="height: 500px;"  class="col-xs-12" id="activeAlerts"></div>

		</div>
	</div>

</div>


<script>

$( document ).ready(function() {

	var activeCollection = new GtfsRtEditor.ActiveAlerts();		
	
	var activeView = new GtfsRtEditor.AlertsMap({
		collection: activeCollection,
		el: $('#activeAlerts'),
		emptyMessage: $('#noActiveAlerts'),
		mapContainer: 'activeAlerts'
	});

	$('#refreshData').on('click', function(evt) {

		activeView.refresh();

	});

});

</script>